.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  transition: width 0.3s ease;
  overflow: hidden;
  
}

/* HEADER fijo (no se colapsa) */
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  width: 220px;
  border-bottom: 1px solid #222;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #121212;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.sidebar-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebar-logo {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.sidebar-title h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  /* pequeño margen superior para separarlo del logo */
  color: #fff;
  text-align: center;
}

.sidebar-title .edition {
  font-size: 12px;
  color: #aaa;
  text-align: right;
  top: -10px;
  left: 20px;
  position: relative;
}

.menu-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}


/* BODY colapsable */
.sidebar-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: opacity 0.3s ease, width 0.3s ease;
  opacity: 1;
  margin-top: 100px;
}

.sidebar.collapsed .sidebar-body {
  opacity: 0;
  width: 0;
  pointer-events: none;
}

/* MENU */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 14px;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ccc;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
  background-color: #1e1e1e;
  color: #fff;
}

.sidebar-menu a svg {
  font-size: 20px;
  min-width: 20px;
  text-align: center;
}

/* FOOTER */
.sidebar-footer {
  border-top: 1px solid #222;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Logout */
.sidebar-footer .logout {
  color: #ff5555;
}

.sidebar-footer .logout:hover {
  background-color: #2b0000;
}


/* Ajuste del ancho total cuando se colapsa */
.sidebar.collapsed {
  width: 0px;
}


/* Ocultar textos dentro del body (solo íconos visibles) */
.sidebar.collapsed .sidebar-menu a span,
.sidebar.collapsed .sidebar-footer a span {
  display: none;
}

/* Centrar íconos */
.sidebar.collapsed .sidebar-menu a,
.sidebar.collapsed .sidebar-footer a {
  justify-content: center;
  padding: 10px;
}