.inventory-container {
    /* width: 90%; */
    margin-left: 50px;
    padding: 20px;    
  }
  
  .inventory-table {
    width: 102%;
    border-collapse: collapse;
  }
  
  .inventory-table th,
  .inventory-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
  }
  
  .inventory-table th {
    color: #333;
  }
    