.inventory-page h2 {
  margin-left: 30px;
  margin-top: 50px;
  font-size: 24px;
  color: #333;
}
.p {
  margin-left: 70px;
  font-size: 14px;
}

.inventory-actions {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 20px;
  margin-top: 10px;
  margin-left: 30px;
  align-items: center;
}

.buscar-bar,
.filter-dropdown-nombre,
.filter-dropdown-stock {
  padding: 8px;
  border: 1px solid black;
}
.buscar-bar :active {
  border: 1px solid black;
  border-radius: 0px;
}
.buscar-bar :focus {
  border: 1px solid black;
  border-radius: 0px;
}

.buscar-bar {
  width: 470px;
}

.filter-dropdown {
  width: 250px;
}

.registro-button {
  padding: 9px;
  width: 200px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
}

.register-button:hover {
  background-color: #0056b3;
}
