
  .SalesHistory-actions {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
    justify-content: space-between;
  }
  
  .search-SalesHistory,
  .filter-SalesHistory,
  .button-SalesHistory {
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    width: 250px;
  }
  
  .search-SalesHistory {
    width: 500px;
  }
  
  .filter-SalesHistory {
    width: 250px;
  }
  
  .button-SalesHistory {
    width: 200px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;  
    font-size: 13px;  
  }
  
  .button-SalesHistory:hover {
    background-color: #0056b3;
  }
  