@font-face {
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
  }
}


* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  position: fixed;
  background-color: #D9D9D9

}

* {
  scrollbar-width: thin;                  /* Firefox */
  scrollbar-color: #b4c1d6 #fff;       /* Firefox: (pulgar, fondo) */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1e1e1e;    /* Fondo del track */
}

*::-webkit-scrollbar-thumb {
  background-color: #b4c1d6; /* Color del pulgar */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b4c1d6; /* Hover */
}