.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px ;
  min-height: 100vh;
  gap: 15px;
  padding-bottom: 80px;
}
.container .content {
  flex: 1 1 200px;
}
.container .image {
  flex: 1 1 200px;
}
.container .content img {
  width: 50%;
}
.container .content .tittle {
  font-size: 45px;
  text-transform: uppercase;
  color: #2980b9;
}
.container .content p {
  color: #666;
  padding: 5px 0;
  text-align: left;
}
