.form-grid-BasicInformationForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 8px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form-group-BasicInformationForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.form-group-BasicInformationForm label {
  font-size: 12px;
  margin-bottom: 4px;
}

textarea,
input,
select, 
.Select select {
  box-sizing: border-box;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #5c5c5c;
  border-radius: 6px;
  color: #555;
  background-color: #fff;
}

/* Específico para textarea */
.textarea-BasicInformationForm {
  height: 150px;
  resize: none;
}

/* Específicos pero consistentes */
.action-input-BasicInformationForm,
.action-select-BasicInformationForm {
  width: 100%;
}


.labelForm {
  font-size: 12px;
  margin-bottom: 4px;
}